body {
  background:#3f6744;
  background-image:url("fondo.jpg");
  background-repeat:repeat-y;
  margin:0;
  padding:0px 0px;
  font:x-small Times;
  text-align:center;
  color:#000000;
  font-size:11px;
  }
a:link {
  color:#333300;
  text-decoration:none;
  }
a:visited {
  color:#333000;
  text-decoration:none;
  }
a:hover {
  color:#003333;
  text-style:italic;
  }
a img {
  border-width:0;
  }
table {
  font-size:11px;
  text-align:top;
  }


/* Content
----------------------------------------------- */
#content {
  width:800px;
  margin:0;
  padding:0;
  }
#header {
  width:800px;
  height:195px;
  position:absolute;
  left:0px;
  top:0px;
  margin:0;
  padding:0;
  }
#menu {
  width:384px;
  position:absolute;
  left:416px;
  top:40px;
  margin:0;
  padding:0;
  }
#menu-izq {
  position:absolute;
  background-image:url("fondomenu.png");
  left:3px;
  top:210px;
  width:189px;
  height:492px;
  padding-left:7px;
  padding-top:25px;
  padding-right:11px;
  margin:0px;
  }
#datos {
  position:absolute;
  background-image:url("fondopeq.png");
  left:0px;
  top:712px;
  width:193px;
  height:75px;
  padding-left:10px;
  padding-top:22px;
  padding-right:13px;
  margin:0px;
  }
#mes {
  position:absolute;
  background-image:url("fondomes.png");
  left:606px;
  top:202px;
  width:194px;
  height:208px;
  padding-left:10px;
  padding-top:40px;
  padding-right:10px;
  margin:0px;
  }
#buscador {
  position:absolute;
  background-image:url("fondopeq.png");
  left:606px;
  top:420px;
  width:193px;
  height:75px;
  padding-left:10px;
  padding-top:25px;
  padding-right:10px;
  margin:0px;
  }
#novedades {
  position:absolute;
  background-image:url("fondoultimos.png");
  left:611px;
  top:500px;
  width:189px;
  height:304px;
  padding-left:7px;
  padding-top:30px;
  padding-right:13px;
  margin:0px;
  }
#main {
  position:absolute;
  left:193px;
  top:216px;
  width:410px;
  padding-left:0px;
  padding-top:0px;
  padding-right:0px;
  margin:0px;
  }
#stats {
  visibility:hidden;
  }

/* Main
----------------------------------------------- */
#main-entrada {
  background-image:url("fondotextoapertura.png");
  width:410px;
  height:10px;
  margin:0px;
  border:0px;
  }
#main-texto {
  text-align:justify;
  background-image:url("fondotexto.png");
  width:410px;
  padding-left:8px;
  padding-top:1px;
  padding-right:8px;
  padding-bottom:5px;
  margin:0px;
  border:0px;
  }
#main-cierre {
  background-image:url("fondotextocierre.png");
  width:410px;
  height:10px;
  margin:0px;
  border:0px;
  }
#main-firma {
  background-image:url("fondofirma.png");
  width:410px;
  height:30px;
  padding-left:5px;
  padding-top:10px;
  padding-right:5px;
  margin:0px;
  border:0px;
  font-size:10px;
  }

/* Headings
----------------------------------------------- */
h1 {
  font:bold 100% CasablancaAntique;
  font-size:30;
  text-align:center;
  color:#003300;
  }
h2 {
  font:bold 100% Stonehenge;
  font-size:18;
  color:#003300;
  }
h3 {
  font:bold 100% Stonehenge;
  font-size:13;
  color:#003300;
  }
h4 {
  font:bold 100% Stonehenge;
  font-size:18;
  color:#003300;
  text-align:center;
  }